<%- include('../partials/adminheader'); -%>


    <div class="container">
        <h2 class="page-title text-center mt-2 mb-2">Category</h2>

        <a href="/admin/categories/add-category" class="btn btn-primary mb-3"> Add a new  Category</a>


        <table class="table table-striped">
            <thead>
                <tr>

                    <th scope="col">Category</th>
                    <th scope="col"><i class="far fa-edit"></i> Edit</th>
                    <th scope="col"><i class="far fa-trash-alt"></i> Delete</th>
                </tr>
            </thead>
            <tbody>

                <% categories.forEach(function(cat){%>

                    <tr>

                        <td>
                            <%=cat.title%>
                        </td>
                        <td>
                                <a href="/admin/categories/edit-category/<%=cat._id%>">Edit</a>
                            
                        </td>

                      

                            <td>  
                                    <a href="/admin/categories/delete-category/<%=cat._id%>" onclick="return confirm('Are you sure you want to delete <%=cat.title%>?');" > Delete</a>
                               
                            </td>
                         

                    </tr>

                    <% });%>


            </tbody>
        </table>



    </div>





    <%- include('../partials/adminfooter'); -%>