<%- include('../partials/adminheader'); -%>

    <h2 class="text-center mt-2"> Edit Product</h2>



    <div class="container justify-content-center mb-5">
        <a href="/admin/products" class="btn btn-primary mt-2 mb-4"> Back to Products</a>
        <form action="/admin/products/edit-product/<%= id %>" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label for="">Product</label>
                <input type="text" name="title" class="form-control" id="" placeholder="Enter Text"
                    value="<%= title %>">

            </div>
            <div class="form-group">
                <label for="">Price</label>
                <input type="text" name="price" value="<%= price %>" class="form-control" id="" placeholder="Price">
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <textarea class="form-control rounded-0" id="" rows="10" name="desc"> <%= desc %> </textarea>
            </div>

            <div class="form-group">
                <label for="">Category</label>
                <select name="category" class="form-control" id="">

                    <% categories.forEach(function(cat){ %>

                        <option value="<%= cat.slug %>" <% if (cat.slug==category){ %>
                            selected="selected"

                            <% } %>

                                ><%= cat.title %>
                        </option>

                        <% }) %>
                </select>

            </div>

            <div class="form-group">
                <label for="">Current Image</label>
                <p>
                    <%if (image=="" ){ %>
                        <img id="emptyImage" src="/img/empty-image.png" alt="">
                        <% }else{ %>

                            <img id="emptyImage" src="/product_images/<%=id%>/<%=image%>" alt="">


                            <% } %>

                </p>
            </div>

            <div class="form-group">
                <label for=""> Upload Image</label>
                <input type="file" name="image" class="form-control" id="img" accept="image/*"
                    onchange="previewImage();">
                <img src="#" id="imgPreview" alt="">
            </div>

            <input type="hidden" name="pimage" value="<%=image%>">

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


        

        <hr>

        <h3>Gallery</h3>
        <ul class="gallery">

            <% galleryImages.forEach(function(image){ %>
                <%if (image!="thumbs" ){ %>

                    <li>
                        <img src="/product_images/<%=id %>/gallery/thumbs/<%=image%>" alt=""> &nbsp;
                        <button type="button" class="btn btn-light btn-sm"><a href="/admin/products/delete-image/<%= image %>?id=<%= id %>"
                            onclick="return confirm('Are you sure you want to delete this?')">Delete</a></button>
                    </li>

                    <% }%>



                        <% }) %>
        </ul>

    </div>

    <section id="dropzone" class="mb-5">

        <div class="container">

            <form action="/admin/products/product-gallery/<%=id%>" method="POST" enctype="multipart/form-data"
                class="dropzone" id="dropzoneForm">

                <div class="fallback">
                    <input type="file" name="file" multiple>
                    <input type="submit" value="Upload">
                </div>
            </form>


        </div>
    </section>
    <hr>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.js"></script>





    <script>


        // function previewImage() {
        //     var img = document.getElementById("img").files;
        //     if (img.length > 0) {
        //         var fileReader = new FileReader();

        //         fileReader.onload = function (event) {
        //             document.getElementById("imgPreview").setAttribute("src", event.target.result);
        //         };

        //         fileReader.readAsDataURL(img[0]);
        //     }
        // }





        // Preview Image

        function previewImage() {
            var img = document.getElementById("img").files;
            if (img.length > 0) {
                var fileReader = new FileReader();

                fileReader.onload = function (event) {
                    document.getElementById("imgPreview").setAttribute("src", event.target.result);

                };

                fileReader.readAsDataURL(img[0]);

            }
        }


        // Dropzone

        Dropzone.options.dropzoneForm = {
            acceptedFiles: "image/*",
            init: function () {
                this.on("queuecomplete", function (file) {
                    setTimeout(function () {
                        location.reload()
                    }, 1000);
                });
            }

        }


  

    </script>




    <%- include('../partials/adminfooter'); -%>